extends layout

block content
  h1 Welcome to DHBW Weather #{place}
  if temp
    tempBox #{temp}°C
  else 
    tempBox= '-°C'
  placeBox= place
  weatherIcon
  weatherBox= weather
  statusBox Current Status of Service: #{status}
